body {
  font-family: sans-serif;
}

.refContCl {
  width: 420px;
  height: 180px;
  padding-top: 5px;
  margin-left: 15px;
  background-color: #ffffff;
  line-height: 1em;
  overflow: auto;
  border: 1px solid #e0e0e0;
}

.refLineItem {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #f7f7f7;
}

.fontshout {
  font-size: 12px;
}

.recContCl {
  width: 420px;
  height: 180px;
  padding-top: 5px;
  margin-left: 15px;
  background-color: #ffffff;
  line-height: 1em;
  overflow: auto;
  border: 1px solid #e0e0e0;
}

.recLineItem {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #f7f7f7;
}

.bridgeContCl {
  width: 450px;
  height: 470px;
  padding-top: 20px;
  background-color: #f8f8f8;
  line-height: 1em;
  overflow: auto;
  border: 1px solid #e0e0e0;
}

.subList {
  min-width: 430px; /*default 480px 아이템이 4개 이상 부터 (아이템 갯수 * 100)+100px*/
  width: auto;
  height: auto;
  margin: 0;
}

.bardown {
  clear: both;
  margin-left: -10px;
  width: 100%;
  text-align: center;
}

.subDiv {
  width: auto;
  min-width: 430px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.subDiv .itemRight {
  min-width: 15px;
  margin-left: 5px;
  text-align: center;
  line-height: 100px;
  height: 100px;
  flex: none;
}

.subDiv .subDivItem {
  width: auto;
  min-width: 100px;
  height: 86px;
  text-align: center;
  margin-left: 5px;
  flex: none;
  border: 1px solid #c2bebe;
  background-color: #f8f8f8;
}

.subDiv .subDivItem .itemHead {
  height: 22px;
  padding-top: 7px;
  border-bottom: 1px solid #c2bebe;
}

.subDiv .subDivItem .itemBody {
  width: auto;
  height: 50px;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #c2bebe;
  background-color: #ffffff;
  overflow: hidden;
}

.subDiv .showDivItem {
  width: auto;
  min-width: 100px;
  height: 86px;
  text-align: center;
  margin-left: 5px;
  flex: none;
  border: 1px solid #e7692e;
  background-color: #f8f8f8;
}

.subDiv .showDivItem .itemHead {
  height: 22px;
  padding-top: 7px;
  border-bottom: 1px solid #e7692e;
}

.subDiv .showDivItem .itemBody {
  width: auto;
  height: 50px;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #e7692e;
  background-color: #ffffff;
  overflow: hidden;
  color: #e7692e;
}

.defaultFontSet {
  font-size: 12px;
  color: #444343;
}

.bfont {
  font-weight: bold;
}

.bridgeTop {
  margin-left: -25px;
}

.show {
  color: #e7692e;
}

.buttonMakedataDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  width: 300px;
  background-color: #e7692e;
  cursor: pointer;
}

.buttonMakeDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  width: 300px;
  background-color: #e7692e;
  cursor: pointer;
}

.bridgeViewLine {
  clear: both;
  width: 760px;
  height: 600px;
  padding: 10px;
}

.bridgeAppLineTitle {
  height: 25px;
  line-height: 23px;
  font-weight: bold;
  vertical-align: middle;
  font-size: 14px;
  color: #050505;
  text-align: center;
  background-color: #f8f8f8;
}

.bridgeAppLineNode {
  margin-top: 5px;
  border: 1px solid #d6d4d4;
  border-radius: 5px;
}

.bridgeAppLineItem {
  height: 30px;
  line-height: 28px;
}

.bridgeAppLineItemType {
  width: 100px;
  float: left;
  text-align: center;
}

.bridgeAppLineItemName {
  width: 120px;
  float: left;
  padding-left: 10px;
}

.bridgeAppLineItemPosition {
  width: 100px;
  float: left;
}

.bridgeAppLineItemDept {
  width: 400px;
  float: left;
}

.bridgeRefLineNode {
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  display: table;
  width: 760px;
  border: 1px solid #d6d4d4;
}

.bridgeRefLineItemHeader {
  width: 100px;
  height: 100%;
  text-align: center;
  float: left;
  line-height: 28px;
}

.bridgeRefLineItemBody {
  width: 640px;
  padding-left: 10px;
  float: left;
}

.bridgeRefLineItems {
  height: 30px;
  line-height: 28px;
  border: 0;
}

.bridgeRefLineItem {
  width: auto;
  height: 30px;
  line-height: 28px;
  border: 0;
  float: left;
}

.bridgeRefLineItemComma {
  width: auto;
  height: 30px;
  margin-right: 3px;
  line-height: 28px;
  border: 0;
  float: left;
}

.bridgeRecLineNode {
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  display: table;
  width: 760px;
  border: 1px solid #d6d4d4;
}

.bridgeRecLineItemHeader {
  width: 100px;
  height: 100%;
  text-align: center;
  float: left;
  line-height: 28px;
}

.bridgeRecLineItemBody {
  width: 640px;
  padding-left: 10px;
  float: left;
}

.bridgeRecLineItems {
  height: 30px;
  line-height: 28px;
  border: 0;
}

.bridgeRecLineItem {
  width: auto;
  height: 30px;
  line-height: 28px;
  border: 0;
  float: left;
}

.bridgeRecLineItemComma {
  width: auto;
  height: 30px;
  margin-right: 3px;
  line-height: 28px;
  border: 0;
  float: left;
}
.bridgeBlank {
  height: 25px;
}

.bridgeNomalFont {
  font-size: 14px;
  color: #050505;
}

.bridgeBoldFont {
  font-weight: bold;
}

.buttonAddDiv {
  position: relative;
  top: 200px;
  float: left;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #7f756a;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  line-height: 2.5em;
}

.buttonDelDiv {
  position: relative;
  top: 250px;
  float: left;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #7f756a;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  line-height: 2.5em;
}

.buttonAddRefDiv {
  position: relative;
  top: 120px;
  float: left;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #7f756a;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  line-height: 2.5em;
}

.buttonDelRefDiv {
  position: relative;
  top: 150px;
  float: left;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #7f756a;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  line-height: 2.5em;
}

.buttonAddRecDiv {
  position: relative;
  top: 300px;
  float: left;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #7f756a;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  line-height: 2.5em;
}

.buttonDelRecDiv {
  position: relative;
  top: 330px;
  float: left;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #7f756a;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  line-height: 2.5em;
}

.bridgeWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 0px solid #e0e0e0;
  height: 540px;
  width: 950px;
}

.bridgeMemberDiv {
  border: 1px solid #e0e0e0;
  width: 400px;
}

.bridgeMemberButtonDiv {
  border: 0px solid wheat;
  width: 80px;
}

.bridgeMemberViewDiv {
  border: 0px solid greenyellow;
  width: 450px;
}

.displayNone {
  display: none;
}

.bridgeMemberViewUl {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.bridgeMemberViewLi {
  display: inline-block;
  width: 50%;
  height: 44px;
  line-height: 2.5em;
  text-align: center;
  list-style: none;
  box-sizing: border-box;
  margin-right: -4px;
  margin-bottom: -2px;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
}

.bridgeMemberViewActive,
.bridgeMemberViewLi:hover {
  color: #fb6c07;
  border-bottom: 3px solid #fe630f;
  margin-bottom: 1px;
}

.bridgeContRefcCl {
  width: 450px;
  height: 470px;
  padding-top: 20px;
  background-color: #f8f8f8;
  line-height: 1em;
  overflow: auto;
  border: 1px solid #e0e0e0;
}

.appText {
  font-size: 14px;
  margin-left: 15px;
  padding-bottom: 10px;
}

.refText {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 15px;
}

/*드래그 드랍*/
.dragoverActive {
  background-color: #c97a21;
}
